@model Peokutse.Models.Guest

@{
    ViewBag.Title = "Thanks";
}

<div>
    <p> Tänan sind, @Model.Name </p>
</div>
<div>
    @if (Model.WillAttend == true)
    {
        @: Ootan sind kallis sõber!
        <p>
            <img src="~/Images/happy.png" />
        </p>
    }
    else
    {
        @: Väga kurb uudis. Näeme hiljem!
        <p>
            <img src="~/Images/sad.png" />
        </p>
    }
    @ViewBag.Message @*VievBag.Message - отчет об отправке письма с приглошением*@

    @if (Model.WillAttend == true)
    {
            <form method="post" action="@Url.Action("Thanks")">
                <input type="hidden" name="sendReminder" value="true" />
                <button type="submit">Saada meeldetuletus</button>
            </form>
    }
</div>
